@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #14b8a6;
  --color-secondary: #0f766e;
  --color-accent: #5eead4;
  --color-base-100: #ffffff;
  --color-base-content: #374151 ;
  --color-netural: #f8fafc;
  --color-info: #38bdf8;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}


body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
